In [ ]:
import pandas as pd #type: ignore
df = pd.read_csv("orders.csv")
print(df)

In [12]:
df.head()

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
2,1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE
3,1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,Singapore
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico

In [ ]:
df.groupby("Category")["Price"].mean()

     Price     Category
0   1200.0  Electronics
1    150.0  Electronics
2    300.0    Furniture
3     45.0    Furniture
4     80.0  Electronics
5      5.0   Stationery
6    450.0    Furniture
7    220.0  Electronics
8      1.5   Stationery
9     35.0  Electronics
10    85.0  Electronics
11   180.0    Furniture
12    12.0   Stationery
13    25.0  Electronics
14   280.0    Furniture
15     8.0   Stationery
16    45.0  Electronics
17    65.0    Furniture
18    15.0  Electronics
19   120.0    Furniture
20     3.5   Stationery
21    95.0  Electronics
22    35.0    Furniture
23     4.0   Stationery
24    28.0  Electronics
25    75.0  Electronics
26    22.0    Furniture
27     2.5   Stationery
28   110.0  Electronics
29    18.0    Furniture
30    32.0  Electronics
31   140.0  Electronics
32    42.0    Furniture
33     0.8   Stationery
34    55.0  Electronics
35    68.0    Furniture
36   125.0  Electronics
37    28.0    Furniture
38    18.0  Electronics
39    35.0    Furniture